[Desktop Entry]
Name=mintBackup
GenericName=Home Directory Backup Tool
Comment=Make a backup of your home directory
Exec=mintBackup
Icon=/usr/lib/linuxmint/mintBackup/icon_desktop.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
NoDisplay=true
MimeType=application/x-backup;

