[Desktop Entry]
Name=Backup Tool
Name[af]=Rusteun gereedskap
Name[am]=የተተኪ መሳሪያዎች
Name[ar]=اداة النسخ الإحتياطي
Name[ast]=Ferramienta de respaldu
Name[be]=Сродак рэзервовага капіявання
Name[be@latin]=Сродак рэзервовага капіявання
Name[bg]=Инструмент за създаване на резервни копия
Name[bn]=ব্যাকআপ টুল
Name[bn_IN]=ব্যাকআপ টুল
Name[bs]=Alat za sigurnosnu kopiju
Name[ca]=Eina de Còpia de Seguretat
Name[ca@valencia]=Eina de Còpia de Seguretat
Name[cs]=Zálohovací nástroj
Name[csb]=Nôrzãdze zazychrowaniô pòdôwków
Name[cy]=Teclyn Cadw wrth Gefn
Name[da]=Værktøj til sikkerhedskopiering
Name[de]=Datensicherungswerkzeug
Name[el]=Εργαλείο Αντιγράφων Ασφαλείας
Name[eo]=Sekurkopiilo
Name[es]=Herramienta de copia de seguridad
Name[es_AR]=Herramienta de copia de seguridad
Name[et]=Varundustööriist
Name[eu]=Babeskopietarako tresna
Name[fa]=ابزار پشتیبان گیری
Name[fi]=Varmuuskopiointityökalu
Name[fo]=Trygdarritingar amboð
Name[fr]=Outil de sauvegarde
Name[fr_CA]=Outil de sauvegarde
Name[ga]=Uirlís Cúltaca
Name[gd]=Inneal lethbhreac-glèidhidh
Name[gl]=Ferramenta de copia de seguranza
Name[gv]=Greie jannoo coadanyn sauçhey
Name[he]=כלי גיבוי
Name[hi]=बैकअप औजार
Name[hr]=Alat sigurnosnog kopiranja
Name[hu]=Mentéskezelő
Name[id]=Perangkat pembuat cadangan
Name[is]=Öryggisafritun
Name[it]=Strumento di backup
Name[ja]=バックアップツール
Name[jv]=Piranti cadangan
Name[kk]=Резервті көшіру құралы
Name[kn]=ಬ್ಯಾಕ್‌ಅಪ್ ಉಪಕರಣ
Name[ko]=백업 도구
Name[ky]=Резервдик көчүрүү
Name[lb]=Backup Instrumenter
Name[lo]=ເຄື່ອງມືການກູ້ຄືນ
Name[lt]=Atsarginių kopijų įrankis
Name[lv]=Dublēšanas rīks
Name[mk]=Алатка за креирање резервни копии
Name[ml]=വിവര സൂക്ഷിപ്പ് ഉപാധി
Name[mr]=बैकअप करण्याचे साधन
Name[ms]=Alat Sandaran
Name[nb]=Verktøy for sikkerhetskopiering
Name[nds]=Programm zur Datensicherung
Name[ne]=बाकअप औजार
Name[nl]=Reservekopie maken
Name[nn]=Tryggleikskopiverktøy
Name[oc]=Aisina de còpia de seguretat
Name[pl]=Narzędzie do tworzenia kopii zapasowych
Name[pt]=Ferramenta para cópias de segurança
Name[pt_BR]=Ferramenta para cópia de segurança
Name[pt_PT]=Ferramenta para cópias de segurança
Name[ro]=Manager copii de siguranță
Name[ru]=Резервное копирование
Name[si]=උපස්ථ මෙවලම
Name[sk]=Zálohovací nástroj
Name[sl]=Orodje za varnostno arhiviranje
Name[so]=Aaladda Keydinta Joogtadda ah
Name[sq]=Mjeti për Backup
Name[sr]=Алатка за прављење резерве
Name[sr@ijekavianlatin]=Алатка за прављење резерве
Name[sr@latin]=Alatka za pravljenje rezerve
Name[sv]=Verktyg för säkerhetskopiering
Name[ta]=காப்பு நகலெடுக்கும் மென்கருவி
Name[te]=బాక్‌అప్ ఉపకరణం
Name[tg]=Абзори нусхаи эҳтиётӣ
Name[th]=เครื่องมือสำรองข้อมูล
Name[tl]=Backup na Gamit
Name[tr]=Yedekleme Aracı
Name[uk]=Інструмент резервного копіювання
Name[vi]=Công cụ Sao lưu
Name[zh_CN]=备份工具
Name[zh_HK]=備份工具
Name[zh_TW]=備份工具
Comment=Make a backup of your home directory
Comment[af]=Maak 'n rugsteun van jou tuisgids
Comment[am]=የሆም ዳይሬክቶሪ ተተኪ ይስሩ
Comment[ar]=قم بعمل نسخة احتياطية من مجلد المنزل الخاص بك
Comment[ast]=Facer una copia de seguridá de la to carpeta personal
Comment[be]=Зрабіць рэзервовую копію вашага хатняга каталогу
Comment[be@latin]=Зрабіць рэзервовую копію вашага хатняга каталогу
Comment[bg]=Създаване на резервно копие на домашната Ви папка
Comment[bn]=আপনার হোম ডিরেক্টরীর ব্যাকআপ তৈরী করুন
Comment[bn_IN]=আপনার হোম ডিরেক্টরীর ব্যাকআপ তৈরী করুন
Comment[bs]=Napravi sigurnosnu kopiju home direktorija
Comment[ca]=Feu una còpia de seguretat del vostre directori d'inici
Comment[ca@valencia]=Feu una còpia de seguretat del vostre directori d'inici
Comment[cs]=Zálohovat domovský adresář
Comment[csb]=Zazychrëjë pòdôwczi twòjegò domôcegò kataloga
Comment[cy]=Gwneud copi wrth gefn o'ch cyfeiriadur cartref
Comment[da]=Lav en sikkerhedskopi af filer og programmer
Comment[de]=Erstellen Sie eine Sicherheitskopie Ihres persönlichen Ordners
Comment[el]=Φτιάξτε ένα αντίγραφο ασφαλείας του φακέλου home
Comment[eo]=Krei sekurkopion de via hejma dosierujo
Comment[es]=Hacer una copia de seguridad de su carpeta personal
Comment[es_AR]=Hacer una copia de seguridad de su carpeta personal
Comment[et]=Kodukataloogist varukoopia tegemine
Comment[eu]=Egin karpeta nagusiaren babeskopia
Comment[fa]=ساختن یک پشتیبان از پوشه‌ خانگی شما
Comment[fi]=Varmuuskopioi kotihakemistosi
Comment[fo]=Trygdarrita heima fíluskránna
Comment[fr]=Faire une sauvegarde de votre dossier personnel
Comment[fr_CA]=Faire une sauvegarde de votre dossier personnel
Comment[ga]=Déan cóíp cúltaca de d' chomhadlann bhaile
Comment[gd]=Dèan lethbhreac-glèidhidh do d' eòlaire dachaigh
Comment[gl]=Faga unha copia de seguranza do seu directorio persoal
Comment[gv]=Jannoo yn ynnyd thie ayd sauçhey
Comment[he]=יצירת גיבוי לתקיית הבית שלך
Comment[hi]=अपनी 'गृह निर्देशिका' की अतरिक्त प्रति संजो कर रखें
Comment[hr]=Napravite sigurnosnu kopiju vaše osobne mape
Comment[hu]=Mentés készítése a saját mappáról
Comment[id]=Buat cadangan direktori rumah anda
Comment[is]=Taktu öryggisafrit af einkamöppunni þinni
Comment[it]=Esegui un backup della tua cartella home
Comment[ja]=ホームディレクトリーのバックアップを作成します
Comment[jv]=gawe backup seko direktori omahmu
Comment[kk]=Сіздің үй бумасының резервті көшірмесін жасау
Comment[kn]=ನಿಮ್ಮ ನೆಲೆ ಕೋಶವನ್ನು ಬ್ಯಾಕ್‌ಅಪ್ ಮಾಡಿ
Comment[ko]=사용자의 홈 디렉토리를 백업합니다
Comment[lb]=Maacht een Backup vum Home Verzeechnis
Comment[lo]=ເຮັດການກູ້ຄືນສຳລັບຕຳແໜ່ງຫລັກຂອງເຈົ້າ
Comment[lt]=Kurti namų aplanko atsarginę kopiją
Comment[lv]=Veikt savas mājas mapes dublēšanu
Comment[mk]=Направете резервна копија на домашниот именик
Comment[ml]=നിങ്ങളുടെ ആസ്ഥാന ഡയറക്ടറി ബാക്കപ് ചെയ്യുക
Comment[mr]=गृह निर्देशिका बैकअप कर
Comment[ms]=Buat sandaran kepada direktori rumah anda
Comment[nb]=Lag en sikkerhetskopi av hjemmeområdet ditt
Comment[nds]=Erstellen Sie eine Datensicherung Ihres Home-Verzeichnisses
Comment[ne]=तपाइको गृह डायरेक्टरीको बाकअप गर्नुहोस |
Comment[nl]=Reservekopie maken van uw persoonlijke map
Comment[nn]=Lag tryggleikskopi av heimekatalogen din
Comment[oc]=Far una còpia de seguretat de vòstre dorsièr personal
Comment[pl]=Stwórz kopię zapasową swojego katalogu domowego
Comment[pt]=Fazer uma cópia da sua pasta pessoal
Comment[pt_BR]=Faça uma cópia de segurança da sua pasta pessoal
Comment[pt_PT]=Fazer uma cópia da sua pasta pessoal
Comment[ro]=Creează o copie de siguranță a dosarului acasă
Comment[ru]=Создание резервной копии вашей домашней директории
Comment[si]=පිුධාන ලිපි ගොනුව සුරක්ශිත කරන්න
Comment[sk]=Vytvorte zálohu Vášho domovského adresára
Comment[sl]=Naredite varnostno kopijo svoje domače mape (home)
Comment[so]=Ka sameyn keydin joogto ah majaladda gurigaaga
Comment[sq]=Bëni një backup të direktorisë suaj shtëpi
Comment[sr]=Направите резерву ваше почетне фасцикле
Comment[sr@ijekavianlatin]=Направите резерву ваше почетне фасцикле
Comment[sr@latin]=Napravite rezervu vaše početne fascikle
Comment[sv]=Gör en säkerhetskopia av din hemkatalog
Comment[ta]=துவக்க இல்லத்தை காப்பு நகலெடுக்கவும்
Comment[te]=మీ నివాస డైరెక్టరీకి బాక్‌అప్ రూపొందించండి
Comment[tg]=Таҳия кардани нусхаи эҳтиётии феҳристи асосии худ
Comment[th]=สำรองข้อมูลในตำแหน่งของคุณ
Comment[tl]=I-backup ng inyong home directory
Comment[tr]=Ev dizininin bir yedeğini alın
Comment[uk]=Зробити резервну копію домашнього каталогу
Comment[vi]=Sao lưu thư mục Nhà của bạn
Comment[zh_CN]=备份您的主目录
Comment[zh_HK]=備份你的 Home 資料夾
Comment[zh_TW]=製作一個你家目錄的備份
Exec=mintbackup
Icon=/usr/lib/linuxmint/mintBackup/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
