[Desktop Entry]
Name=Backup Tool
Comment=Make a backup of your home directory
Exec=mintbackup
Icon=/usr/lib/linuxmint/mintBackup/icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings

