[Desktop Entry]
Name=Backup Tool
Name[en_GB]=Backup Tool
Name[ko]=백업 도구
Name[hr]=Alat za Kopiranje
Name[ms]=Alat Sandaran
Name[nds]=Programm zur Datensicherung
Name[bs]=Alat za sigurnosnu kopiju
Name[he]=כלי גיבוי
Name[oc]=Otís de còpia de seguretat
Name[tr]=Yedekleme Aracı
Name[fo]=Trygdarritingar amboð
Name[id]=Perangkat cadangan
Name[fr]=Outil de sauvegarde
Name[ar]=اداة النسخ الإحتياطي
Name[pl]=Narządzie do tworzenia kopii zapasowej
Name[sk]=Zálohovací nástroj
Name[bg]=Инструмент за създаване на резервни копия
Name[es]=Herramienta de copia de seguridad
Name[fa]=ابزار پشتیبان گیری
Name[hi]=बैकअप औजार
Name[vi]=Công cụ Sao lưu
Name[mk]=Алатка за креирање резервни копии
Name[nb]=Verktøy for sikkerhetskopiering
Name[cs]=Zálohovací nástroj
Name[mr]=बैकअप करण्याचे साधन
Name[is]=Öryggisafritun
Name[eu]=Babes kopiak egiteko Tresna
Name[sl]=Orodje za varnostno arhiviranje
Name[fi]=Varmuuskopiointityökalu
Name[lb]=Backup Instrumenter
Name[pt]=Ferramenta de Cópia de Segurança
Name[sr]=Alat za pravljenje rezerve.
Name[af]=Rusteun gereedskap
Name[tl]=Backup Tool
Name[uk]=Інструмент резервного копіювання
Name[am]=የተተኪ መሳሪያዎች
Name[et]=Varundustööriist
Name[ta]=காப்பு நகலெடுக்கும் மென்கருவி
Name[pt_PT]=Ferramenta de Cópia de Segurança
Name[ast]=Ferramienta de respaldu
Name[csb]=Nôrzãdze zazychrowaniô pòdôwków
Name[ru]=Средство резервного копирования
Name[zh_TW]=備份工具
Name[ja]=バックアップツール
Name[ca]=Eina de còpies de seguretat
Name[th]=Backup Tool
Name[ur]=Backup Tool
Name[en_AU]=Backup Tool
Name[bn]=ব্যাকআপ টুল
Name[zh_CN]=备份工具
Name[nl]=Back-uphulpmiddel
Name[el]=Εργαλείο Αντιγράφων Ασφαλείας
Name[it]=Strumento di backup
Name[sv]=Verktyg för säkerhetskopiering
Name[da]=Værktøj til sikkerhedskopiering
Name[de]=Datensicherungswerkzeug
Name[sq]=Mjeti për Backup
Name[ml]=ബാക്കപ്പ് ടൂള്‍
Name[nn]=Tryggleikskopiverktøy
Name[kk]=Резервті көшіру құралы
Name[lt]=Atsarginių kopijų kūrimo įrankis
Name[pt_BR]=Ferramenta para cópia de segurança
Name[hu]=Mentéskezelő
Name[ro]=Manager copii de siguranță
Name[jv]=Piranti cadangan
Name[zh_HK]=備份工具
Name[gl]=Ferramenta de copia de seguranza
Comment=Make a backup of your home directory
Comment[en_GB]=Make a backup of your home directory
Comment[ko]=사용자의 홈 디렉토리를 백업합니다
Comment[hr]=Napravite pričuvnu kopiju vašeg glavnog direktorija
Comment[ms]=Buat sandaran kepada direktori rumah anda
Comment[nds]=Erstellen Sie eine Datensicherung Ihres Home-Verzeichnisses
Comment[bs]=Napravi sigurnosnu kopiju home direktorija
Comment[he]=עליך לגבות את ספריית הבית שלך
Comment[oc]=Far una còpia de seguretat de son dorsier personau
Comment[tr]=Ev dizininin bir yedeğini alın
Comment[fo]=Trygdarrita heima fíluskránna
Comment[id]=Membuat cadangan dari direktori home Anda
Comment[fr]=Faire une sauvegarde de votre dossier personnel
Comment[ar]=اعمل نسخة إحتياطية من مجلد المنزل الخاص بك
Comment[pl]=Stwórz kopię zapasową swojego katalogu domowego
Comment[sk]=Vytvorte zálohu Vášho domovského adresára
Comment[bg]=Създаване на резервно копие на домашната Ви папка
Comment[es]=Hacer una copia de seguridad de su carpeta personal
Comment[fa]=ساختن یک پشتیبان از پوشه‌ خانگی شما
Comment[hi]=अपनी 'गृह निर्देशिका' की अतरिक्त प्रति संजो कर रखें
Comment[vi]=Sao lưu thư mục Nhà của bạn
Comment[mk]=Направете резервна копија на домашниот именик
Comment[nb]=Lag en sikkerhetskopi av hjemmeområdet ditt
Comment[cs]=Zálohovat domovský adresář
Comment[mr]=गृह निर्देशिका बैकअप कर
Comment[is]=Taktu öryggisafrit af einkamöppunni þinni
Comment[eu]=Direktorio Nagusiaren babes kopia egin
Comment[sl]=Naredite varnostno kopijo vašega domačega (home) imenika
Comment[fi]=Varmuuskopioi kotihakemistosi
Comment[lb]=Maacht een Backup vum Home Verzeechnis
Comment[pt]=Fazer uma cópia de segurança da sua pasta pessoal
Comment[sr]=Kreirajte rezervnu kopiju vašeg Home direktorijuma
Comment[af]=Maak 'n rugsteun van jou tuisgids
Comment[tl]=Make a backup of your home directory
Comment[uk]=Зробити резервну копію домашнього каталогу
Comment[am]=የሆም ዳይሬክቶሪ ተተኪ ይስሩ
Comment[et]=Varunda oma kodukataloog
Comment[ta]=துவக்க இல்லத்தை காப்பு நகலெடுக்கவும்
Comment[pt_PT]=Fazer uma cópia de segurança da sua pasta pessoal
Comment[ast]=Facer una copia de seguridá de la to carpeta personal
Comment[csb]=Zazychrëjë pòdôwczi twòjegò domôcegò kataloga
Comment[ru]=Создать резервную копию вашей домашней директории
Comment[zh_TW]=備份您的家目錄
Comment[ja]=ホームディレクトリーのバックアップを作成します
Comment[ca]=Feu una còpia de seguretat del vostre directori d'inici
Comment[th]=Make a backup of your home directory
Comment[ur]=Make a backup of your home directory
Comment[en_AU]=Make a backup of your home directory
Comment[bn]=আপনার হোম ডিরেক্টরীর ব্যাকআপ তৈরী করুন
Comment[zh_CN]=备份您的主目录
Comment[nl]=Back-up maken van uw persoonlijke map
Comment[el]=Φτιάξτε ένα αντίγραφο ασφαλείας του φακέλου home
Comment[it]=Esegui un backup della tua cartella home
Comment[sv]=Gör en säkerhetskopia av din hemkatalog
Comment[da]=Lav en sikkerhedskopi af din hjemmemappe
Comment[de]=Erstellen Sie eine Sicherungskopie Ihres persönlichen Ordners
Comment[sq]=Bëni një backup të direktorisë suaj shtëpi
Comment[ml]=നിങ്ങളുടെ ഹോം ഡിരക്ടറി ബാക്കപ്പ് ചെയ്യുക
Comment[nn]=Lag tryggleikskopi av heimekatalogen din
Comment[kk]=Сіздің үй бумасының резервті көшірмесін жасау
Comment[lt]=Kurti namų katalogo atsarginę kopiją
Comment[pt_BR]=Faça uma cópia de segurança da sua pasta pessoal
Comment[hu]=Mentés készítése a Saját mappáról
Comment[ro]=Creează o copie de siguranță a dosarului acasă
Comment[jv]=Make a backup of your home directory
Comment[zh_HK]=備份你的 Home 資料夾
Comment[gl]=Faga unha copia de seguranza do seu directorio persoal
Exec=mintBackup
Icon=/usr/lib/linuxmint/mintBackup/icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
NoDisplay=true
MimeType=application/x-backup;
