[Desktop Entry]
Name=Backup Tool
GenericName=Data backups
Comment=Make a backup of your home directory
Exec=mintbackup
Icon=/usr/lib/linuxmint/mintBackup/icon_desktop.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings

