[Desktop Entry]
Name=Backup Tool
Name[csb]=Backup Tool
Name[tl]=Backup Tool
Name[fr]=Backup Tool
Name[cs]=Backup Tool
Name[pt]=Backup Tool
Name[fo]=Backup Tool
Name[nb]=Backup Tool
Name[bn]=Backup Tool
Name[ar]=Backup Tool
Name[ro]=Backup Tool
Name[ast]=Backup Tool
Name[gl]=Backup Tool
Name[ja]=Backup Tool
Name[he]=Backup Tool
Name[sr]=Backup Tool
Name[pl]=Backup Tool
Name[lt]=Backup Tool
Name[ru]=Backup Tool
Name[hu]=Backup Tool
Name[fi]=Backup Tool
Name[de]=Backup Tool
Name[el]=Backup Tool
Name[zh_CN]=Backup Tool
Name[en_GB]=Backup Tool
Name[am]=Backup Tool
Name[zh_HK]=Backup Tool
Name[es]=Backup Tool
Name[tr]=Backup Tool
Name[bg]=Backup Tool
Name[ko]=Backup Tool
Name[mr]=Backup Tool
Name[nl]=Backup Tool
Name[et]=Backup Tool
Name[zh_TW]=Backup Tool
Name[sk]=Backup Tool
Name[pt_BR]=Backup Tool
Name[is]=Backup Tool
Name[sv]=Backup Tool
Name[hi]=Backup Tool
Name[sq]=Backup Tool
Name[it]=Backup Tool
Name[hr]=Backup Tool
Name[uk]=Backup Tool
Name[da]=Backup Tool
Comment=Make a backup of your home directory
Comment[csb]=Make a backup of your home directory
Comment[tl]=Make a backup of your home directory
Comment[fr]=Make a backup of your home directory
Comment[cs]=Make a backup of your home directory
Comment[pt]=Make a backup of your home directory
Comment[fo]=Make a backup of your home directory
Comment[nb]=Make a backup of your home directory
Comment[bn]=Make a backup of your home directory
Comment[ar]=Make a backup of your home directory
Comment[ro]=Make a backup of your home directory
Comment[ast]=Make a backup of your home directory
Comment[gl]=Make a backup of your home directory
Comment[ja]=Make a backup of your home directory
Comment[he]=Make a backup of your home directory
Comment[sr]=Make a backup of your home directory
Comment[pl]=Make a backup of your home directory
Comment[lt]=Make a backup of your home directory
Comment[ru]=Make a backup of your home directory
Comment[hu]=Make a backup of your home directory
Comment[fi]=Make a backup of your home directory
Comment[de]=Make a backup of your home directory
Comment[el]=Make a backup of your home directory
Comment[zh_CN]=Make a backup of your home directory
Comment[en_GB]=Make a backup of your home directory
Comment[am]=Make a backup of your home directory
Comment[zh_HK]=Make a backup of your home directory
Comment[es]=Make a backup of your home directory
Comment[tr]=Make a backup of your home directory
Comment[bg]=Make a backup of your home directory
Comment[ko]=Make a backup of your home directory
Comment[mr]=Make a backup of your home directory
Comment[nl]=Make a backup of your home directory
Comment[et]=Make a backup of your home directory
Comment[zh_TW]=Make a backup of your home directory
Comment[sk]=Make a backup of your home directory
Comment[pt_BR]=Make a backup of your home directory
Comment[is]=Make a backup of your home directory
Comment[sv]=Make a backup of your home directory
Comment[hi]=Make a backup of your home directory
Comment[sq]=Make a backup of your home directory
Comment[it]=Make a backup of your home directory
Comment[hr]=Make a backup of your home directory
Comment[uk]=Make a backup of your home directory
Comment[da]=Make a backup of your home directory
Exec=mintBackup
Icon=/usr/lib/linuxmint/mintBackup/icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
NoDisplay=true
MimeType=application/x-backup;
