[Desktop Entry]
Name=Backup Tool
Name[af]=Rusteun gereedskap
Name[am]=የተተኪ መሳሪያዎች
Name[ar]=أداة النسخ الاحتياطي
Name[as]=Ferramenta de Backup
Name[ast]=Ferramienta de respaldu
Name[be]=Рэзервовае капіяванне
Name[bg]=Инструмент за създаване на резервни копия
Name[bn]=ব্যাকআপ টুল
Name[br]=Ostilh gwareziñ
Name[bs]=Alat za sigurnosnu kopiju
Name[ca]=Eina de còpies de seguretat
Name[ca@valencia]=Eina de còpies de seguretat
Name[cs]=Zálohovací nástroj
Name[csb]=Nôrzãdze zazychrowaniô pòdôwków
Name[cy]=Teclyn Cadw wrth Gefn
Name[da]=Værktøj til sikkerhedskopiering
Name[de]=Datensicherungswerkzeug
Name[el]=Εργαλείο Αντιγράφων Ασφαλείας
Name[eo]=Savkopiilo
Name[es]=Herramienta de copia de seguridad
Name[et]=Varundustööriist
Name[eu]=Babeskopietarako tresna
Name[fa]=ابزار پشتیبان گیری
Name[fi]=Varmuuskopiointi
Name[fil]=Backup na Gamit
Name[fo]=Trygdarritingar amboð
Name[fr]=Outil de sauvegarde
Name[fr_CA]=Outil de sauvegarde
Name[ga]=Uirlís Cúltaca
Name[gd]=Inneal lethbhreacan-glèidhidh
Name[gl]=Ferramenta de copia de seguranza
Name[gv]=Greie jannoo coadanyn sauçhey
Name[he]=כלי גיבוי
Name[hi]=बैकअप साधन
Name[hr]=Alat sigurnosnog kopiranja
Name[hu]=Mentéskezelő
Name[ia]=Instrumento de copia de reserva
Name[id]=Perangkat pembuat cadangan
Name[ie]=Utensile de archivation
Name[is]=Öryggisafritun
Name[it]=Strumento di backup
Name[ja]=バックアップツール
Name[jv]=Piranti cadangan
Name[ka]=მარქაფის პროგრამა
Name[kab]=Afecku n uḥraz
Name[kk]=Резервті көшіру құралы
Name[kn]=ಬ್ಯಾಕ್‌ಅಪ್ ಉಪಕರಣ
Name[ko]=백업 도구
Name[ku]=Navînga Cîgirtinê
Name[ky]=Резервдик көчүрүү
Name[la]=Instrumenta tutis
Name[lb]=Backup Instrumenter
Name[lo]=ເຄື່ອງມືການກູ້ຄືນ
Name[lt]=Atsarginių kopijų įrankis
Name[lv]=Dublēšanas rīks
Name[mai]=बैकअप साधन
Name[mk]=Алатка за креирање резервни копии
Name[ml]=വിവര സൂക്ഷിപ്പ് ഉപാധി
Name[mr]=बैकअप करण्याचे साधन
Name[ms]=Alat Sandaran
Name[nb]=Sikkerhetskopieringsverktøy
Name[nds]=Programm zur Datensicherung
Name[ne]=बाकअप औजार
Name[nl]=Reservekopie-gereedschap
Name[nn]=Tryggleikskopiverktøy
Name[oc]=Aisina de còpia de seguretat
Name[pap]=Hèrmènt pa backup
Name[pl]=Narzędzie do tworzenia kopii zapasowych
Name[pt]=Ferramenta para cópias de segurança
Name[pt_BR]=Ferramenta para cópia de segurança
Name[ro]=Copiere de rezervă
Name[ru]=Резервное копирование
Name[si]=උපස්ථ මෙවලම
Name[sk]=Zálohovací nástroj
Name[sl]=Orodje za varnostno arhiviranje
Name[so]=Aaladda Keydinta Joogtadda ah
Name[sq]=Mjeti për Backup
Name[sr]=Алат за резерве
Name[sr@latin]=Alatka za pravljenje rezervnih kopija
Name[sv]=Verktyg för säkerhetskopiering
Name[ta]=காப்பு நகலெடுக்கும் மென்கருவி
Name[te]=బాక్‌అప్ ఉపకరణం
Name[tg]=Абзори нусхаи эҳтиётӣ
Name[th]=เครื่องมือสำรองข้อมูล
Name[tl]=Backup na Gamit
Name[tr]=Yedekleme Aracı
Name[uk]=Знаряддя резервного копіювання
Name[ur]=بیک اپ کا اوزار
Name[uz]=Zahira vositasi
Name[vi]=Công cụ Sao lưu
Name[zh_CN]=备份工具
Name[zh_HK]=備份工具
Name[zh_TW]=備份工具
Comment=Backup apps and files
Comment[ar]=نسخ الملفات والبرامج احتياطيا
Comment[ast]=Facer un respaldu de programas ya ficheros.
Comment[be]=Зрабіць рэзервовую копію праграм і файлаў
Comment[br]=Gwareziñ an arloadoù hag ar restroù
Comment[ca]=Còpia de seguretat d'aplicacions i fitxers
Comment[ca@valencia]=Còpia de seguretat d'aplicacions i fitxers
Comment[cs]=Záloha aplikací a souborů
Comment[cy]=Apiau a ffeiliau wrth gefn
Comment[da]=Sikkerhedskopiér programmer og filer
Comment[de]=Apps und Dateien sichern
Comment[el]=Δημιουργία αντιγράφων ασφαλείας εφαρμογών και αρχείων
Comment[eo]=Fari savkopiojn de apoj kaj dosieroj
Comment[es]=Respaldar aplicaciones y archivos
Comment[et]=Rakenduste ja failide varundamine
Comment[eu]=Egin aplikazio eta fitxategien babeskopiak
Comment[fa]=پشتیبان‌گیری برنامه ها و فایل ها
Comment[fi]=Varmuuskopioi sovellukset ja tiedostot
Comment[fr]=Sauvegarder des applications et des fichiers
Comment[fr_CA]=Sauvegarder des applications et des fichiers
Comment[he]=גיבוי ישומונים וקבצים
Comment[hi]=बैकअप ऐप्स और फ़ाइलें
Comment[hu]=Alkalmazások és fájlok mentése
Comment[ia]=Copia de reserva de applicationes e files
Comment[id]=Buat cadangan aplikasi dan berkas
Comment[is]=Taka öryggisafrit af forritum og skrám
Comment[it]=Backup di app e file
Comment[ja]=アプリとファイルをバックアップ
Comment[ka]=ფაილების და აპების მარქაფი
Comment[ko]=앱 및 파일 백업하기
Comment[ms]=Sandarkan app dan fail
Comment[nb]=Sikkerhetskopier apper og filer
Comment[nl]=Reservekopieën maken van toepassingen en bestanden
Comment[oc]=Salvar las aplicacions e los fichièrs
Comment[pl]=Tworzenie kopii zapasowych programów i plików
Comment[pt]=Cópia de segurança de aplicações e ficheiros
Comment[pt_BR]=Backup apps e arquivos
Comment[ro]=Copiază aplicațiile și fișierele
Comment[ru]=Резервное копирование приложений и файлов
Comment[sk]=Zálohovať aplikácie a súbory
Comment[sl]=Varnostno kopirajte programe in datoteke
Comment[sr]=Направите резерве програма и датотека
Comment[sr@latin]=Направите резерве програма и датотека
Comment[sv]=Säkerhetskopiera program och filer
Comment[te]=యాప్‌లు మరియు ఫైల్‌లను బ్యాకప్ చేయండి
Comment[tr]=Uygulama ve dosyaları yedekleyin
Comment[uk]=Резервне копіювання програм та файлів
Comment[uz]=Ilovalar va fayllarni zaxiralash
Comment[vi]=Sao lưu ứng dụng và tập tin
Comment[zh_CN]=备份应用和文件
Comment[zh_TW]=備份 App 與檔案
GenericName=Backup apps and files
GenericName[ar]=نسخ الملفات والبرامج احتياطيا
GenericName[ast]=Facer un respaldu de programas ya ficheros.
GenericName[be]=Зрабіць рэзервовую копію праграм і файлаў
GenericName[br]=Gwareziñ an arloadoù hag ar restroù
GenericName[ca]=Còpia de seguretat d'aplicacions i fitxers
GenericName[ca@valencia]=Còpia de seguretat d'aplicacions i fitxers
GenericName[cs]=Záloha aplikací a souborů
GenericName[cy]=Apiau a ffeiliau wrth gefn
GenericName[da]=Sikkerhedskopiér programmer og filer
GenericName[de]=Apps und Dateien sichern
GenericName[el]=Δημιουργία αντιγράφων ασφαλείας εφαρμογών και αρχείων
GenericName[eo]=Fari savkopiojn de apoj kaj dosieroj
GenericName[es]=Respaldar aplicaciones y archivos
GenericName[et]=Rakenduste ja failide varundamine
GenericName[eu]=Egin aplikazio eta fitxategien babeskopiak
GenericName[fa]=پشتیبان‌گیری برنامه ها و فایل ها
GenericName[fi]=Varmuuskopioi sovellukset ja tiedostot
GenericName[fr]=Sauvegarder des applications et des fichiers
GenericName[fr_CA]=Sauvegarder des applications et des fichiers
GenericName[he]=גיבוי ישומונים וקבצים
GenericName[hi]=बैकअप ऐप्स और फ़ाइलें
GenericName[hu]=Alkalmazások és fájlok mentése
GenericName[ia]=Copia de reserva de applicationes e files
GenericName[id]=Buat cadangan aplikasi dan berkas
GenericName[is]=Taka öryggisafrit af forritum og skrám
GenericName[it]=Backup di app e file
GenericName[ja]=アプリとファイルをバックアップ
GenericName[ka]=ფაილების და აპების მარქაფი
GenericName[ko]=앱 및 파일 백업하기
GenericName[ms]=Sandarkan app dan fail
GenericName[nb]=Sikkerhetskopier apper og filer
GenericName[nl]=Reservekopieën maken van toepassingen en bestanden
GenericName[oc]=Salvar las aplicacions e los fichièrs
GenericName[pl]=Tworzenie kopii zapasowych programów i plików
GenericName[pt]=Cópia de segurança de aplicações e ficheiros
GenericName[pt_BR]=Backup apps e arquivos
GenericName[ro]=Copiază aplicațiile și fișierele
GenericName[ru]=Резервное копирование приложений и файлов
GenericName[sk]=Zálohovať aplikácie a súbory
GenericName[sl]=Varnostno kopirajte programe in datoteke
GenericName[sr]=Направите резерве програма и датотека
GenericName[sr@latin]=Направите резерве програма и датотека
GenericName[sv]=Säkerhetskopiera program och filer
GenericName[te]=యాప్‌లు మరియు ఫైల్‌లను బ్యాకప్ చేయండి
GenericName[tr]=Uygulama ve dosyaları yedekleyin
GenericName[uk]=Резервне копіювання програм та файлів
GenericName[uz]=Ilovalar va fayllarni zaxiralash
GenericName[vi]=Sao lưu ứng dụng và tập tin
GenericName[zh_CN]=备份应用和文件
GenericName[zh_TW]=備份 App 與檔案
Exec=mintBackup
Icon=mintbackup
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Qt;KDE;System;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
